
body{
    /*background-image: url("images/orange_background.jpg");*/
    background-color: #ffdbc4;
}

 #main p{
	text-align: center;	 
	font-size: 16px;
 }

footer{
    background-color:red;
    margin-top:60px;
    height:250px;
}

#resume{
    height:500px;
      background-color:red;
}

.imagesPatisseries{
   width: 100%;
   height: 100%; 
   margin-bottom:50px;
}

.section{
    text-align:center; 
}

.vcenter{
    text-align:center; 
    margin-top:50px;
}

.row{
 width:95%;
 margin:auto;
}

.fiveDegreeBack{
    width: 100%;
    height: 100%;
    background-color: #ffe8a3;
    padding: 20px;
    box-shadow: 6px 6px 2px #888888;
}

.negSevenDegreeBack{
    width: 100%;
    height: 100%;
    background-color: #ffc382;
    padding: 20px;
    box-shadow: 6px 6px 5px #888888;
}